---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn about this blog"
	pubDate={new Date('February 02 2026')}
>
	<h2>Blog for DIG345</h2>

	<p>Check out my personal site: <a href="https://yoder.ing" target="_blank" rel="noopener noreferrer">yoder.ing</a></p>
</Layout>
